.container {
    width: 80%;
    /* min-height: calc(100vh - 80px); */
    margin: 0 auto;
}

.container div {
    margin-top: 170px;
    font-family: 'IBM Plex Mono';
    font-size: 40px;
}

.title {
    margin-top: 130px;
    font-family: 'IBM Plex Mono';
}